
.submenu
  a
    font-size 14px
    padding 6px 8px 6px 56px
    line-height 1.75
    display flex
    // width 100%
    cursor pointer
    text-decoration none

    &:focus
      background-color rgba(#000, 0.08)

    &:hover
      background-color rgba(#000, 0.08)

.menubtn
  padding 6px 8px 6px 40px
  font-weight 700
  margin 0
  font-size 14px
  cursor pointer
  width 100%
  text-align left
  border none
  outline 0
  display flex
  align-items center
  justify-content space-between

  span
    line-height 1.75
    display flex
    width 100%

  &:focus
    background-color rgba(#000, 0.08)

  &:hover
    background-color rgba(#000, 0.08)

mat-icon
  font-size 16px
  width 20px
  height 20px
  line-height 20px