// Container
.container
  position relative
  max-width 460px
  width 100%
  margin 100px auto
.active
  .card:first-child
    background #f2f2f2
    margin 0 15px
  .card:nth-child(2)
    background #fafafa
    margin 0 10px
  .alt
    top 20px
    right 0
    width 100%
    min-width 100%
    height auto
    border-radius 5px
    padding 60px 0 40px
    overflow hidden
    .toggle
      position absolute
      top 40px
      right -50px
      box-shadow none
      transform scale(15)
      transition transform 0.5s ease
    .title, .ipt-container, .btn-container
      left 0
      opacity 1
      visibility visible
      transition 0.3s ease
    .title
      transition-delay 0.3s
    .ipt-container
      transition-delay 0.4s
      &:nth-child(2)
        transition-delay 0.5s
      &:nth-child(3)
        transition-delay 0.6s
    .btn-container
      transition-delay 0.7s
// Card
.card
  position relative
  background #fff
  border-radius 5px
  padding 60px 0 40px 0
  box-sizing border-box
  box-shadow 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24)
  transition 0.3s ease
  &:first-child
    background #fafafa
    height 10px
    border-radius 5px 5px 0 0
    margin 0 10px
    padding 0
// Title
.title
  position relative
  z-index 1
  border-left 5px solid #E91E63
  margin 0 0 35px
  padding 10px 0 10px 50px
  color #E91E63
  font-size 32px
  font-weight 600
  text-transform uppercase
// Input
.ipt-container
  position relative
// Button
.btn-container
  [mat-flat-button]
    width 100%
// alt
.alt
  position absolute
  top 40px
  right -50px
  z-index 10
  width 100px
  height 100px
  background none
  border-radius 100%
  box-shadow none
  padding 0
  transition 0.3s ease
  .toggle
    position relative
    background #E91E63
    width 100px
    height 100px
    border-radius 100%
    box-shadow 0 1px 3px rgba(#000, 0.12), 0 1px 2px rgba(#000, 0.24)
    color #fff
    display flex
    justify-content center
    align-items center
    mat-icon
      font-size 58px
      width 58px
      height 58px
  .title, .ipt-container, .btn-container
    left 100px
    opacity 0
    visibility hidden
  .title
    position relative
    border-color #fff
    color #fff
  .close
    cursor pointer
    position absolute
    top 0
    right 60px
    display inline
    color #fff
    font-size 58px
    font-weight 400
// Active
.pointer
  cursor pointer
mat-form-field
  width 100%
.hidden
  overflow hidden
form
  padding 0 60px