<div class="container" [ngClass]="{ active: isActive }">
  <div class="card"></div>
  <div class="card">
    <h1 class="title">
      Sign In
    </h1>
    <ng-container *ngTemplateOutlet="SignIn"></ng-container>
  </div>
  <div class="card alt">
    <div class="toggle" [ngClass]="{ pointer: !isActive }" (click)="open()">
      <mat-icon *ngIf="!isActive">
        add
      </mat-icon>
    </div>
    <h1 class="title">
      Sign Up
      <mat-icon class="close" *ngIf="isActive" (click)="close()">
        close
      </mat-icon>
    </h1>
    <ng-container *ngTemplateOutlet="SignUp"></ng-container>
  </div>
</div>

<!-- SignIn -->
<ng-template #SignIn>
  <form [formGroup]="signInForm" (ngSubmit)="submitSignIn()">
    <div class="ipt-container">
      <mat-form-field>
        <mat-label>
          Username
        </mat-label>
        <input matInput placeholder="username" formControlName="username" />
        <mat-error *ngIf="formErr('signIn', 'username')">{{ formErr('signIn', 'username') }}</mat-error>
      </mat-form-field>
    </div>
    <div class="ipt-container">
      <mat-form-field>
        <mat-label>
          Password
        </mat-label>
        <input matInput type="password" placeholder="password" formControlName="password" />
        <mat-error *ngIf="formErr('signIn', 'password')">{{ formErr('signIn', 'password') }}</mat-error>
      </mat-form-field>
    </div>

    <div class="btn-container">
      <button mat-flat-button color="primary" [disabled]="isSignInSubmit">
        Sign In
      </button>
    </div>
  </form>
</ng-template>

<!-- SignUp -->
<ng-template #SignUp>
  <form [formGroup]="signUpForm" (ngSubmit)="submitSignUp()">
    <div class="ipt-container">
      <mat-form-field>
        <mat-label>
          Username
        </mat-label>
        <input matInput placeholder="username" formControlName="username" />
      </mat-form-field>
    </div>
    <div class="ipt-container">
      <mat-form-field>
        <mat-label>
          Password
        </mat-label>
        <input matInput type="password" placeholder="password" formControlName="password" />
      </mat-form-field>
    </div>
    <div class="ipt-container code-container">
      <mat-form-field>
        <mat-label>
          Code
        </mat-label>
        <input matInput placeholder="code" formControlName="code" />
      </mat-form-field>
      <button mat-flat-button type="button" [disabled]="isSignUpSend" (click)="sendCode()">
        Send Code
      </button>
    </div>

    <div class="btn-container">
      <button mat-flat-button>
        Sign Up
      </button>
    </div>
  </form>
</ng-template>
