<header class="primaryBackgroundColor">
  <div
    class="logo"
    [ngStyle]="{ width: layoutSer.isCollapsed ? layoutSer.collapsedWidth : layoutSer.sidebarWidth }"
    #Logo
  >
    <img [src]="layoutSer.isCollapsed ? 'assets/img/logo.svg' : 'assets/img/logo-full.png'" alt="log" />
  </div>

  <div class="menu">
    <ul class="ul menu-l">
      <li class="li">
        <button mat-icon-button (click)="setCollapsedState()">
          <mat-icon aria-label="menu">menu </mat-icon>
        </button>
      </li>
      <li class="li">
        <button mat-icon-button>
          <mat-icon aria-label="lock">lock </mat-icon>
        </button>
      </li>
    </ul>

    <ul class="ul menu-r">
      <li class="li">
        <button mat-icon-button>
          <mat-icon aria-label="notifications">
            notifications
          </mat-icon>
        </button>
      </li>
      <li class="li">
        <button mat-icon-button>
          <mat-icon aria-label="settings">
            settings
          </mat-icon>
        </button>
      </li>
      <li class="li">
        <button mat-button [matMenuTriggerFor]="menu">
          <i class="avatar"></i>
          <span class="name">Admin</span>
        </button>
        <mat-menu #menu="matMenu">
          <button mat-menu-item (click)="handleLogout()">Logout</button>
        </mat-menu>
      </li>
    </ul>
  </div>
</header>
