<header>
  <div class="logo" [@sidebar]="layoutSer.sidebarStatus"></div>

  <div class="menu">
    <ul class="ul menu-l">
      <li class="li">
        <button mat-icon-button (click)="layoutSer.handleSidebar()">
          <mat-icon aria-label="menu">menu </mat-icon>
        </button>
      </li>
      <li class="li">
        <button mat-icon-button>
          <mat-icon aria-label="lock">lock </mat-icon>
        </button>
      </li>
    </ul>

    <ul class="ul menu-r">
      <li class="li">
        <button mat-icon-button>
          <mat-icon aria-label="notifications">
            notifications
          </mat-icon>
        </button>
      </li>
      <li class="li">
        <button mat-icon-button>
          <mat-icon aria-label="settings">
            settings
          </mat-icon>
        </button>
      </li>
      <li class="li">
        <button mat-button [matMenuTriggerFor]="menu">
          <i class="avatar"></i>
          <span class="name">Admin</span>
        </button>
        <mat-menu #menu="matMenu">
          <button mat-menu-item>Item 1</button>
          <button mat-menu-item>Item 2</button>
        </mat-menu>
      </li>
    </ul>
  </div>
</header>
