<div
  #SubMenu
  class="z-menu-sub"
  [ngClass]="classMap"
  [style.paddingLeft.px]="paddingLeft"
  (mouseenter)="setMouseEnterState(true)"
  (mouseleave)="setMouseEnterState(false)"
  matRipple
>
  <mat-icon *ngIf="icon">{{ icon }}</mat-icon>
  <ng-content select="[icon]" *ngIf="!icon"></ng-content>

  <ng-container *zStringTemplateOutlet="title"
    ><span class="z-menu-label">{{ title }}</span></ng-container
  >
  <ng-content select="[title]" *ngIf="!title"></ng-content>
</div>

<div [@collapseMotion]="expandState" class="z-menu-submenu">
  <ng-template [ngTemplateOutlet]="SubMenuTemplate"></ng-template>
</div>

<ng-template #SubMenuTemplate>
  <ng-content></ng-content>
</ng-template>
