<div
  #SubMenu
  class="zyhh-menu-submenu"
  [ngClass]="classMap"
  [style.paddingLeft.px]="paddingLeft"
  (mouseenter)="setMouseEnterState(true)"
  (mouseleave)="setMouseEnterState(false)"
  matRipple
>
  <!-- <i nz-icon [nzType]="nzIcon" *ngIf="nzIcon"></i> -->
  <!-- <ng-container *nzStringTemplateOutlet="nzTitle"
    ><span>{{ nzTitle }}</span></ng-container
  > -->
  <ng-content select="[title]" *ngIf="!title"></ng-content>
</div>

<ul [@collapseMotion]="expandState" class="ant-menu ant-menu-inline ant-menu-sub">
  <ng-template [ngTemplateOutlet]="subMenuTemplate"></ng-template>
</ul>

<ng-template #subMenuTemplate>
  <ng-content></ng-content>
</ng-template>
