<ng-container *ngIf="isCollapsed; else CollapsedTemplate">
  <div
    #SubMenu
    class="z-menu-sub"
    [ngClass]="classMap"
    [style.paddingLeft.px]="paddingLeft"
    matRipple
    [matMenuTriggerFor]="CollapsedSubMenu"
  >
    <mat-icon *ngIf="icon">{{ icon }}</mat-icon>
    <ng-content select="[icon]" *ngIf="!icon"></ng-content>
  </div>

  <mat-menu #CollapsedSubMenu="matMenu" class="z-menu-sub-collapsed">
    <ng-template [ngTemplateOutlet]="SubMenuTemplate"></ng-template>
  </mat-menu>
</ng-container>

<ng-template #CollapsedTemplate>
  <div class="z-menu-sub" [ngClass]="classMap" [style.paddingLeft.px]="paddingLeft" matRipple>
    <mat-icon *ngIf="icon">{{ icon }}</mat-icon>
    <ng-content select="[icon]" *ngIf="!icon"></ng-content>

    <ng-container *zStringTemplateOutlet="title">
      <span class="z-menu-label">{{ title }}</span>
    </ng-container>
    <ng-content select="[title]" *ngIf="!title"></ng-content>
  </div>

  <div [@collapseMotion]="expandState" class="z-menu-submenu">
    <ng-template [ngTemplateOutlet]="SubMenuTemplate"></ng-template>
  </div>
</ng-template>

<ng-template #SubMenuTemplate>
  <ng-content></ng-content>
</ng-template>
