@import '../../../../node_modules/@angular/material/theming';
@import './index.scss';

$primary: mat-color($app-primary);

.primaryColor {
  color: $primary;
}

.primaryBackgroundColor {
  background-color: $primary;
}

.primaryBorderColor {
  border-color: $primary;
}
