<div class="sidebar">
  <!-- <ul z-menu (change)="changeMenu($event)">
    <ng-template #MenuList let-list="k">
      <ng-container *ngFor="let i of list">
        <li z-submenu *ngIf="i.children; else MenuItem">
          <span title>{{ i.name }}</span>

          <ul>
            <ng-container *ngTemplateOutlet="MenuList; context: { k: i.children }"></ng-container>
          </ul>
        </li>

        <ng-template #MenuItem>
          <li z-menu-item>{{ i.name }}</li>
        </ng-template>
      </ng-container>
    </ng-template>

    <ng-container *ngTemplateOutlet="MenuList; context: { k: tree }"></ng-container>
  </ul> -->

  <ul class="sidebar-menu" z-menu [isCollapsed]="layoutSer.isCollapsed" [width]="layoutSer.sidebarWidth">
    <z-recursive-tree [data]="tree"></z-recursive-tree>
  </ul>
</div>
