@import 'libs/var.styl'

menuPrefix = $prefix + '-menu'

.{menuPrefix}
  &-root, ul
    margin 0
    padding 0
    list-style none

  &-item, &-sub
    padding 10px 8px
    cursor pointer
    display flex
    align-items center

    mat-icon
      $iconWidth = 16px
      margin-right 10px
      font-size $iconWidth
      width $iconWidth
      height $iconWidth

    &:hover
      background-color rgba(0, 0, 0, 0.08)

  &-sub [title]
    line-height 1.75

  &-label
    line-height 1.75

  &-submenu 
    & > ul
      padding 8px 0
    &-selected
        font-weight 500
        background-color rgba(0, 0, 0, 0.03)

  &-selected
    font-weight 500
    background-color rgba(0, 0, 0, 0.05)